<div class="jumbotron">
    <div class="container">
      <a href='/articles/main'>
      <h1>몽주 집사의 업무일지</h1>
      </a>
    </div>
</div> 
<div class='newwrite'>
    <h1>글 쓰러 왔음!</h1>
    <%= render 'form' %>
    <div class='back'>
        <%= link_to '뒤로 가기', articles_path %>
    </div>
</div>