<div id="entrance">
    <p>
        <img src="Entrance.jpg" vspace= "100px" height="350px" width="350px">
    </p>
    <h1>
        <a><%= link_to '몽주 집사의 업무일지', controller: 'articles' %></a>
    </h1>
</div>